@{
    ViewData["Title"] = "Joel Hilton's Film Collection";
}

@* Landing page with the image of Joel*@
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
        <img src="~/img/Joel_Hilton's_Film_Collection.jpg" />
        <br /><br />
        <h1>The Joel Hilton Film Collection</h1>
        <br />
        <img src="~/img/Joel_Hilton.jpeg" />
    </div>
    <div class="col-2"></div>
</div>