@{
    ViewData["Title"] = "BaconSale Podcast";
}

@* Page with a link to the BaconSale podcast site*@
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
        <img src="~/img/Joel_Hilton's_Film_Collection.jpg" />
        <br /><br />
        <h1>Visit My Podcast Site</h1>
        <br />
        <a class="podcast podcast:hover podcast:visited" href="https://baconsale.com/" target="_blank" rel="noopener noreferrer">BaconSale.com</a>
    </div>
    <div class="col-2"></div>
</div>