/*My css page to style the navbar and other elements on the webpages*/

img {
    height: 400px;
    padding-top: 5px;
}

body {
    height: 125vh;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
    align-content: center;
}

header {
    position: fixed;
    background-color: red;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: fixed;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

header li a:hover {
    color: black;
    text-decoration: none;
}

header img {
    height: 90px;
    margin-left: 40px;
}

.podcast {
    font-size: 20px;
    color: blue;
}

.podcast:hover {
    text-decoration: none;
}

.podcast:visited {
    color:blue;
}

.label {
    margin-bottom: -5px;
}

.left {
    text-align:left !important;
}

ul.no-bullets {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}